<!DOCTYPE html>
<!--
Template Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
Author: PixInvent
Website: http://www.pixinvent.com/
Contact: hello@pixinvent.com
Follow: www.twitter.com/pixinvents
Like: www.facebook.com/pixinvents
Purchase: https://1.envato.market/vuexy_admin
Renew Support: https://1.envato.market/vuexy_admin
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.

-->
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template-dark/card-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Nov 2021 07:06:11 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Detailed reservation information</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/demo/vuexy-html-bootstrap-admin-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/bordered-layout.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/semi-dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

<!-- BEGIN: Header-->
<%- include('../includes/top-floating-navigation.ejs'); %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<%- include('../includes/main-sidebar-menu.ejs'); %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Reservation Details</h2>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

            <!-- Style variation -->
            <section id="card-style-variation">
                <h5 class="mb-2">Detailed booking information - including destination, traveled bus and passengers details</h5>
                <!-- Outline -->
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card shadow-none bg-transparent border-info">
                            <div class="card-body">
                                <h4 class="card-title">Booking Details</h4>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>Booking code</h6>
                                        <span><%= locals.reservationDetails.reservation.bookingCode %></span>
                                        <hr>

                                        <h6>Total travel amount</h6>
                                        <span>US$ <%= locals.reservationDetails.reservation.totalTravelAmount %></span>
                                        <hr>

                                        <h6>Booked for?</h6>
                                        <span><%= locals.reservationDetails.reservation.totalPassenger %> passenger(s)</span>
                                        <hr>

                                        <h6>Booked on</h6>
                                        <span><%= new Date(locals.reservationDetails.reservation.bookingTime).toUTCString() %></span>

                                    </div>

                                    <div class="col-sm-6">
                                        <h6>Booked by</h6>
                                        <span><%= locals.reservationDetails.reservation.mainUserDetails.firstName %>&nbsp;<%= locals.reservationDetails.reservation.mainUserDetails.lastName %></span>
                                        <hr>

                                        <h6>E-mail</h6>
                                        <span><%= locals.reservationDetails.reservation.mainUserDetails.email %></span>
                                        <hr>

                                        <h6>Seats</h6>
                                        <span><%= locals.reservationDetails.reservation.seatsNumber %></span>
                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12">
                        <div class="card shadow-none bg-transparent border-success">
                            <div class="card-body">
                                <h4 class="card-title">About Route</h4>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>From: Source</h6>
                                        <span><%= locals.reservationDetails.reservation.destinationDetails.fromSource %></span>
                                        <hr>

                                        <h6>Departure Date</h6>
                                        <span><%= new Date(locals.reservationDetails.reservation.destinationDetails.departureDate).toDateString() %></span>
                                        <hr>

                                        <h6>Arrival Date</h6>
                                        <span><%= new Date(locals.reservationDetails.reservation.destinationDetails.arrivalDate).toDateString() %></span>

                                    </div>
                                    <div class="col-sm-6">
                                        <h6>To: Destination</h6>
                                        <span><%= locals.reservationDetails.reservation.destinationDetails.toDestination %></span>
                                        <hr>

                                        <h6>Departure Time</h6>
                                        <span><%= locals.reservationDetails.reservation.destinationDetails.departureTime %></span>
                                        <hr>

                                        <h6>Estimated Arrival Time</h6>
                                        <span><%= locals.reservationDetails.reservation.destinationDetails.estimatedArrivalTime %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12">
                        <div class="card shadow-none bg-transparent border-warning">
                            <div class="card-body">
                                <h4 class="card-title">Bus Details</h4>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>Bus Service Name</h6>
                                        <span><%= locals.reservationDetails.assignedBus.busServiceName %></span>
                                        <hr>

                                        <h6>Bus Number</h6>
                                        <span><%= locals.reservationDetails.assignedBus.busNumber %></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>Bus Image</h6>
                                        <img class="img-fluid" width="100" src="/busImages/<%= locals.reservationDetails.assignedBus.busServiceLogo %>" alt="bus-logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12">
                        <div class="card shadow-none bg-transparent border-danger">
                            <div class="card-body">
                                <h4 class="card-title">Passengers - traveled to this route on above bus</h4>

                                <% if (locals.reservationDetails.reservation.passengers.length > 0) { %>
                                    <% locals.reservationDetails.reservation.passengers.map((passenger, index) => { %>

                                        <div class="row">
                                            <h6>Passenger <%= index + 1 %></h6>
                                            <div class="col-sm-6">
                                                <b>Full Name:&nbsp;</b><%= passenger.firstName %>&nbsp;<%= passenger.lastName %>
                                            </div>
                                            <div class="col-sm-6">
                                                <b>Contact:&nbsp;</b><%= passenger.phoneNumber %>
                                            </div>
                                            <% if (passenger.isMainPassenger) { %>
                                                <div class="col-12">
                                                    <b>E-Mail:&nbsp;</b><%= passenger.email %>
                                                </div>
                                            <% } %>
                                        </div>
                                        <hr>

                                    <% }); %>
                                <% } else { %>
                                    <b>No passengers found for this route.</b>
                                <% } %>

                            </div>
                        </div>
                    </div>

                    <!--                    <div class="col-md-6 col-xl-4">-->
                    <!--                        <div class="card shadow-none bg-transparent border-secondary">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <h4 class="card-title">Secondary card title</h4>-->
                    <!--                                <p class="card-text">Some quick example text to build on the card title and make up.</p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-6 col-xl-4">-->
                    <!--                        <div class="card shadow-none bg-transparent border-info">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <h4 class="card-title">Info card title</h4>-->
                    <!--                                <p class="card-text">Some quick example text to build on the card title and make up.</p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </section>
            <!--/ Style variation -->
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- START: Footer -->
<%- include('../includes/footer.ejs'); %>>
<!-- END: Footer -->

<!-- BEGIN: Vendor JS-->
<script src="/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/app-assets/js/core/app-menu.min.js"></script>
<script src="/app-assets/js/core/app.min.js"></script>
<script src="/app-assets/js/scripts/customizer.min.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

<script>
    $(window).on('load',  function(){
        if (feather) {
            feather.replace({ width: 14, height: 14 });
        }
    })
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/demo/vuexy-html-bootstrap-admin-template/html/ltr/vertical-menu-template-dark/card-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Nov 2021 07:06:14 GMT -->
</html>